{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }} <!--provides protection for the form-->
            <fieldset class="form-group">
                <legend class="border-bottem mb-4">Log In</legend>

                <div class="form-group">
                      <!--email label-->
                      {{ form.email.label(class="form-control-label") }}

                      <!--email field-->
                      {% if form.email.errors %}
                          {{ form.email.label(class="form-control form-control-log is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.email.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ form.email(class="form-control form-control-lg ") }}
                      {% endif %}
                </div>
                <div class="form-group">
                      <!--password label-->
                      {{ form.password.label(class="form-control-label") }}

                      <!--password field-->
                      {% if form.password.errors %}
                          {{ form.password.label(class="form-control form-control-log is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.password.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ form.password(class="form-control form-control-lg ") }}
                      {% endif %}
                </div>
                
                <!-- Check box for remember me-->
                <div class="form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>

            </fieldset>

            <!-- Submit button -->
            <div class="form-group">
                  {{ form.submit(class="btn btn-outline-info") }}
            </div>

            <!-- Link for forgot password -->
            <small class="text-muted ml-2">
                <a href="#">Forgot Password?</a>
            </small>

        </form>
    </div>

    <!-- This is a link to the registration form -->
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account?  <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
        </small>
    </div>
{% endblock content %}
